<!DOCTYPE html>
<html>
<head>
	<title>Registraion Form</title>
	<style type="text/css">
		form {
       text-align: center;
}

	</style>
</head>
<body>
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-{{ msg.tag }}">{{msg}}</div>
			{%endfor%}
		{% endif %}
		<form action="{% url 'register' %}" method="POST">
	
		{% csrf_token %}
		Full Name : <input type="text" name="firstName" required style="color:#4CAF50"><br>
		emailId : <input type="text" name="emailId" required><br>		
			<input type="submit" name="submit" value="login">
			</form>
		
</body>
</html>











