<!DOCTYPE html>
<html>
<head>
		<style type="text/css">
		form {
  text-align: center;
}

	</style>
</head>
<body>
		{% if messages %}
			{% for msg in messages %}
				<div class="alert alert-{{ msg.tag }}">{{msg}}</div>
			{%endfor%}
		{% endif %}
		<form action="{% url 'resetpassword' %}" method="POST">
		{% csrf_token %}
					Old Password : <input type='text' name ='oldPassword'><br>
					New Password : <input type= 'text' name = 'newPassword'><br>
					Confirm  Password : <input type= 'text' name = 'confirmPassword'><br>

					<button type = 'submit'>submit</button>
			</form>
</body>
</html>